@use "../utils/colors.scss";

.address {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: colors.$lightgrey2;
    padding: 15px;
    font-size: 18px;
    // margin-bottom: 28px;
    &__text {
        font-weight: 400;
    }
}

.fa-solid.fa-location-dot {
    font-size: 20px;
}