@use "../utils/mixins";
@use "../utils/colors.scss";

.explorer {
    text-align: center;
    background-color: colors.$lightgrey;
    padding: 20px;
    & h2 {
        font-size: 22px;
        font-weight: 600;
    }
    & p {
    font-size: 17px;
    font-weight: 300;
}
& button {
 border: 0;
 padding: 13px 20px;
 font-weight: 600;
 font-size: 17px;
 border-radius: 100px;
 color: #fff;
 @include mixins.lineargradient(0.9);
 cursor: pointer;
 transition: transform 200ms;
 @include mixins.base-shadow;
} 
& button:hover {
 @include mixins.move-touch;
 opacity: 0.9;
}
} 