@use "../utils/colors.scss";
@use "../utils/mixins.scss";

.menus {
    background-color: colors.$lightgrey;
    padding: 20px 5px;
    & .container {
        max-width: 1280px;
        margin: auto;
    }
    & h2 {
        padding: 0px 20px;
    }
    .menus_card {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        
        & a {
            background-color: #fff;
            border-radius: 25px;
            margin: auto;
            width: 90%;
        }
       
        @media screen and(max-width: 992px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .new {
            background-color: #99e2d0;
            color: #1b6150;
            padding: 0.5rem;
            border-radius: 0.125rem;
            position: absolute;
            top: 1rem;
            right: 0.75rem;
        }
    }
    .card {
        padding: 20px 5px;
        &__image {
            height: 220px;
            background-size: cover;
            border-radius: 1rem 1rem 0 0;
            border: 0 solid transparent;
            position: relative;
        }
        
        @for $i from 1 through 4 {
            &__image-#{$i} {
                background-image: url("../../images/restaurants/menu-#{$i}.jpg");
            }
        }
        &__description {
            @include mixins.animated-heart;
            h3,
            p {
                margin: 5px 15px;
                font-family: "Roboto", "sans-serif";
            }
            
        }
    }
}