@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 5px;
  position: relative;
}

h1 {
  margin: 5px;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f3f3f3;
  padding: 15px;
  font-size: 18px;
}
.address__text {
  font-weight: 400;
}

.fa-solid.fa-location-dot {
  font-size: 20px;
}

.explorer {
  text-align: center;
  background-color: #fafafa;
  padding: 20px;
}
.explorer h2 {
  font-size: 22px;
  font-weight: bold;
}
.explorer p {
  font-size: 17px;
  font-weight: 200;
}
.explorer button {
  padding: 15px 15px;
  font-weight: 600;
  margin: 14px 10px 30px;
  font-size: 14px;
  border-radius: 100px;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition: transform 200ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.explorer button:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.tuto {
  counter-reset: section;
}
.tuto .container {
  max-width: 1280px;
  margin: auto;
}
.tuto h2 {
  padding: 20px 20px 0;
}
.tuto ol {
  display: flex;
  gap: 20px;
  padding: 20px 25px 50px;
}
@media screen and (max-width: 992px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  background-color: #f6f6f6;
  padding: 25px 32px;
  flex-grow: 1;
  border-radius: 10px;
  list-style-type: none;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.tuto li::before {
  content: counter(section);
  counter-increment: section;
  background: #9356dc;
  color: #f6f6f6;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  left: -12px;
  bottom: 21px;
}
.tuto li:hover {
  transform: scale(1.01);
}
.tuto i.fa-solid {
  margin-right: 10px;
  color: #7e7e7e;
  font-size: 18px;
}
.tuto span {
  font-weight: 500;
  margin-left: 10px;
}

.menus {
  background-color: #fafafa;
}
.menus .container {
  max-width: 1280px;
  margin: auto;
}
.menus h2 {
  padding: 40px 20px 0;
}
.menus .menus_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.menus .menus_card a {
  background-color: #fff;
  border-radius: 25px;
  margin: auto;
  width: 90%;
}
@media screen and (max-width: 992px) {
  .menus .menus_card {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .menus_card .new {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.menus .card__image {
  height: 220px;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
  border: 0 solid transparent;
  position: relative;
}
.menus .card__description {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.menus .card__description .content {
  flex: 1;
}
.menus .card__description h3 {
  margin: 0 0 0.25rem;
}
.menus .card__description p {
  margin: 0;
  font-weight: 300;
}
.menus .card__description .fa-regular.fa-heart {
  font-size: 25px;
}
.menus .card__image-1 {
  background-image: url("../../images/restaurants/menu-1.jpg");
}
.menus .card__image-2 {
  background-image: url("../../images/restaurants/menu-2.jpg");
}
.menus .card__image-3 {
  background-image: url("../../images/restaurants/menu-3.jpg");
}
.menus .card__image-4 {
  background-image: url("../../images/restaurants/menu-4.jpg");
}

footer {
  background-color: #353535;
  color: white;
}
footer .container {
  padding: 5px;
}
footer .title {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 400;
  font-size: 20px;
  padding: 1px 20px;
}
footer ul {
  list-style-type: none;
  padding: 5px 20px;
}
footer li {
  margin: 7px;
}
footer .fa-solid {
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */
