@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 5px;
  position: relative;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #f3f3f3;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 40px;
}
.address__text {
  font-weight: 500;
}

.fa-solid.fa-location-dot {
  font-size: 20px;
}

.explorer {
  text-align: center;
  background-color: #fafafa;
}
.explorer h2 {
  font-size: 22px;
  font-weight: bold;
}
.explorer p {
  font-size: 15px;
  font-weight: 200;
}
.explorer button {
  border: 0;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 17px;
  border-radius: 100px;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition: transform 200ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.explorer button:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.tuto {
  counter-reset: section;
}
.tuto .container {
  max-width: 1280px;
  margin: auto;
}
.tuto h2 {
  margin-left: 30px;
}
.tuto ol {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 990px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  background-color: #f6f6f6;
  padding: 25px 25px;
  flex-grow: 1;
  border-radius: 10px;
  list-style-type: none;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.tuto li::before {
  content: counter(section);
  counter-increment: section;
  background: #9356dc;
  color: #f6f6f6;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  left: -12px;
  bottom: 21px;
}
.tuto li:hover {
  transform: scale(1.01);
}
.tuto i.fa-solid {
  margin-right: 10px;
  color: #7e7e7e;
  font-size: 15px;
}
.tuto span {
  font-weight: 300;
}

.menus {
  background-color: #fafafa;
}
.menus .container {
  max-width: 1280px;
  margin: auto;
}
.menus h2 {
  margin-left: 30px;
}
.menus .menus_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (max-width: 990px) {
  .menus .menus_card {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .card__image {
  height: 250px;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}
.menus .card__image-1 {
  background-image: url("../../images/restaurants/menu-1.jpg");
}
.menus .card__image-2 {
  background-image: url("../../images/restaurants/menu-2.jpg");
}
.menus .card__image-3 {
  background-image: url("../../images/restaurants/menu-3.jpg");
}
.menus .card__image-4 {
  background-image: url("../../images/restaurants/menu-4.jpg");
}

/*# sourceMappingURL=style.css.map */
