@keyframes move-item {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
    
}

@keyframes loader-spinner {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
 
@keyframes spinner-rotate {
    to {
        transform: rotate(360deg);
    }
}