@keyframes move-item {
    0% {
        transform: translateY(15%);
        opacity: 0;
        
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes loader-spinner {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
 
@keyframes spinner-rotate {
    to {
        transform: rotate(360deg);
    }
}